* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 900px) {
  html {
    font-size: 70%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 85%;
  }
}

@media (min-width: 3000px) {
  html {
    font-size: 125%;
  }
}
