@import "colors.css";

button {
  background-color: var(--main);
  border: none;
  border-radius: 1.5rem;
  color: var(--snow-white);
  padding: 0.2rem 1rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  cursor: pointer;
}

button {
  text-shadow: 0 0 2px #333;
  animation-name: animacja;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes animacja {
  50% {
    box-shadow: 0px 0px 6px 1px var(--main);
  }
}

.button-like {
  background-color: var(--main);
  border: none;
  border-radius: 1.5rem;
  color: var(--snow-white);
  padding: 0.2rem 1rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  cursor: pointer;
  text-shadow: 0 0 2px #333;
  animation-name: animacja;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  text-decoration: none;
}
