.contact {
  font-family: "Segoe UI", Helvetica, Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--dark);
  color: var(--snow-white);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.contact h2 {
  font-size: 2.5rem;
  opacity: 0.85;
}

.contact-number {
  font-family: "Rowdies", cursive;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}
.opening-hours {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 0.2rem;
  max-width: 20rem;
  font-size: 1.6rem;
  margin: 3rem;
  font-weight: 600;
}

.opening-hours p:nth-child(odd) {
  width: 30%;
}
.opening-hours p:nth-child(even) {
  width: 70%;
  text-align: end;
}
#google-map {
  width: 100%;
}
.adres {
  font-size: 1.3rem;
  opacity: 0.9;
  padding-bottom: 1.5rem;
  text-align: center;
}
.adres-heading {
  font-weight: 600;
}
.contact-number-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.5rem 0 0 0;
  font-size: 1.3rem;
}

.footer-info a {
  color: rgb(158, 151, 255);
  margin-left: 0.5ch;
}

.footer-info a:hover {
  color: rgb(220, 218, 255);
  transition: 0.2s;
}

hr {
  color: rgba(255, 255, 255, 0.623);
  width: 95%;
}

.fb-link {
  color: var(--snow-white);
  background-color: #3b5998;
  animation-name: none;
  text-decoration: none;
  margin-bottom: 2rem;
}
.fb-link span {
  margin-left: 0.5ch;
}

@media (min-width: 900px) {
  .contact {
    flex-direction: row;
  }
  .contact-number-box {
    width: 45%;
  }
  #google-map {
    width: 45%;
    margin: 1rem;
  }
}
