@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.menu-block {
  font-family: "Poppins", sans-serif;
  background-color: #f7f4f3;
  width: 100%;
  color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

.menu-block h3 {
  font-size: 2.5rem;
}

.menu-block h2 {
  width: 100%;
  text-align: center;
  margin: 2rem;
  font-size: 2.5rem;
}

.category-heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1.5rem;
}

.category {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sauces {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sauces-name {
  font-size: 1.4rem;
}

@media (min-width: 900px) {
  .menu-block {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    padding-bottom: 3rem;
  }
  .category {
    width: 50%;
  }
  .category-heading {
    justify-content: flex-start;
  }
  .kebab-category,
  .zapiekanki-category {
    min-height: 14rem;
  }
}
