@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.menu-block {
  font-family: "Poppins", sans-serif;
  background-color: #f7f4f3;
  width: 100vw;
  color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-block h3 {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.menu-block h2 {
  margin: 20px;
}

.category-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px;
}

.sauces {
  display: flex;
  justify-content: center;
  align-items: center;
}
