@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.menu-block {
  font-family: "Poppins", sans-serif;
  background-color: #f7f4f3;
  width: 100%;
  color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

.menu-block h3 {
  font-size: 2.5rem;
}

.menu-block h2 {
  margin: 2rem;
  font-size: 2.5rem;
}

.category-heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1.5rem;
}

.sauces {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sauces-name {
  font-size: 1.4rem;
}
